* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}

.gift {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: pink;
  align-items: center;
  padding: 50px;
}

body{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.gift__top {
  display: flex;
  animation: giftTop 2s infinite linear forwards;
}

@keyframes giftTop{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: -50px;
    }
    100%{
        margin-top: 0px;
    }
}

.gift__top__left,
.gift__top__right {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 10px solid white;
}

.gift__top__left{
    border-radius: 50% 50% 0px 50%;
}

.gift__top__right{
    border-radius: 50% 50% 50% 0px;
}

.gift__bottom{
    display: flex;
    padding-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    animation: gift__bottom 2s linear infinite forwards ;
}

@keyframes gift__bottom{
    0%{
        padding-top: 20px;
    }
    50%{
        padding-top: 30px;
    }
    100%{
        padding-top: 20px;
    }
}



.gift__part{
    width: 50px;
    height: 50px;
    background: white;
}

.gift___bottom__top,.gift__bottom__bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gift__bottom-1{
    animation: gift-1 2s linear infinite forwards;
}

@keyframes gift-1{
    0%{
        margin-right: 0px;
    }
    50%{
        margin-right: 30px;
        background: blue;
    }
    100%{
        margin-right: 0px;
    }
}

.gift__bottom-2{
    animation: gift-2 2s linear infinite forwards;
}

@keyframes gift-2{
     0%{
        margin-right: 0px;
    }
    50%{
        margin-right: 30px;
        background: red;
    }
    100%{
        margin-right: 0px;
    }
}


.gift__bottom-3{
    animation: gift-3 2s linear infinite forwards;
}

@keyframes gift-3{
     0%{
        margin-left: 0px;
    }
    50%{
        margin-left: 30px;
        background: yellow;
    }
    100%{
        margin-left: 0px;
    }
}


.gift__bottom-4{
    animation: gift-4 2s linear infinite forwards;
}

@keyframes gift-4{
     0%{
        margin-left: 0px;
    }
    50%{
        margin-left: 30px;
        background: green;
    }
    100%{
        margin-left: 0px;
    }
}


/* stairs */

.next__assigment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    width: 100%;
    height: 500px;
}

.stairs{
    width: 250px;
    height: 400px;
    background: blue;
    border-radius: 150px 150px  0px 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    gap: 10px;
}

.stair{
    height: 50px;
    background: black;
    border-radius: 2px;
    
}

@keyframes stair{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.stair-4{
    width: 20%;
    animation: stair-4 2s infinite linear forwards;
}

@keyframes stair-4{
    from{
        width: 0%;
    }
    to{
        width: 20%;
    }
}

.stair-3{
    width: 40%;
    animation: stair-3 2s infinite linear forwards;
}

@keyframes stair-3{
    from{
        width: 0%;
    }
    to{
        width: 40%;
    }
}


.stair-2{
    width: 60%;
    animation: stair-2 2s infinite linear forwards;
}

@keyframes stair-2{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}

.stair-1{
    width: 80%;
    animation: stair-1 2s infinite linear forwards;
}

@keyframes stair-1{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

/* sky sun */

.sky{
    width: 700px;
    height: 500px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.sky__sun{
    width: 250px;
    height: 400px;
    background: rgb(255, 162, 0);
    border-radius: 150px 150px  0px 0px;
    position: relative;
    overflow: hidden;
    animation: sky 5s  infinite linear forwards;
}

@keyframes sky{
    0%{
        background: rgb(255, 162, 0);
    }
    50%{
        background: white;
    }
    100%{
        background: rgb(255, 162, 0);
    }
}

.sun{
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 70px;
    animation: sun 5s  infinite linear forwards;
}

@keyframes sun{
    0%{
        top: 50%;
    }
    50%{
        top: -100%;
    }
    100%{
        top: 50%;
    }
}

.left__cloud{
    width: 200px;
    height: 200px;
    background: rgb(108, 60, 1);
    position: absolute;
    border-radius: 50%;
    bottom: -10%;
    left: 100px;
    z-index: 3;
    animation: leftCloud 5s infinite linear forwards;
}

@keyframes leftCloud{
    0%{
        left: 100px;
    }
    50%{
        left: 300px;
    }
    100%{
        left: 100px;
    }
}

.right__cloud{
    width: 200px;
    height: 200px;
    background: rgb(215, 119, 0);
    position: absolute;
    border-radius: 50%;
    bottom: -10%;
    right: 100px;
    animation: rightCloud 5s  infinite linear forwards;
}

@keyframes rightCloud{
    0%{
        right: 100px;
    }
    50%{
        right: 300px;
    }
    100%{
        right: 100px;
    }
}